In [2]:
import os
import pandas as pd

csv_dir = '/home/ksaff/Desktop/ttyd/fine_tuning/llama_finetuning/10_datasets'
ddl_dir = '/home/ksaff/Desktop/ttyd/fine_tuning/fine_tune_dbs/ddls'

csv_names = sorted(os.listdir(csv_dir))[:10]
ddl_names = sorted(os.listdir(ddl_dir))
ddl_names.pop(2) #Del DDL10

FileNotFoundError: [Errno 2] No such file or directory: '/home/ksaff/Desktop/ttyd/fine_tuning/llama_finetuning/10_datasets'

In [17]:
database_scheme = """
CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to
"""

In [25]:
# ONE DF
import pandas as pd

def modify_string(input_string):
    modified_string = input_string.strip() + " "
    return modified_string

df = pd.read_csv('/home/ksaff/Desktop/sql/no_err_queries.csv')
new_columns = ['instruction', 'output']
df.columns = new_columns

text_col = []

for _, row in df.iterrows():
    prompt = 'Make SQLite query based on instruction and database scheme.'
    input = ''
    question = modify_string(row['instruction'])
    response = row['output']

    text = (
        """### Task
        Generate a SQL query to answer the following question:
        {question}
### Database Schema
        This query will run on a database whose schema is represented in this string:
        {database_scheme}
### SQL
        Given the database schema, here is the SQL query that answers `{question}`:
        ```sql {response}
        """.format(question=question, database_scheme=database_scheme, response=response)
    )
    print(text)
    text_col.append(text)

df = df.drop(columns=['instruction', 'output'])
df['text'] = text_col

df.to_csv('/home/ksaff/Desktop/ttyd/fine_tuning/dataset/train.csv')

### Task
        Generate a SQL query to answer the following question:
        What is the average base pay?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `What is the average base pay? `:
        ```sql SELECT AVG(BasePay) FROM Salaries;

### Task
        Generate a SQL query to answer the following question:
        List all employees with overtime pay more than $10.000.
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `List all employees with overtime pay more than $10.000. `:
        ```sql SELECT EmployeeName FROM Salaries WHERE OvertimePay > 10000;

### Task
        Generate a SQL query to answer the following question:
        How many people have 'Police' in their job title?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `How many people have 'Police' in their job title? `:
        ```sql SELECT COUNT(*) FROM Salaries WHERE JobTitle LIKE '%Police%';

### Task
        Generate a SQL query to answer the following question:
        What is the total pay of all employees for the year 2020?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `What is the total pay of all employees for the year 2020? `:
        ```sql SELECT SUM(TotalPay) FROM Salaries WHERE Year = 2020;

### Task
        Generate a SQL query to answer the following question:
        Who earned the least in 2019?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `Who earned the least in 2019? `:
        ```sql SELECT EmployeeName FROM Salaries WHERE Year = 2019 ORDER BY TotalPay ASC LIMIT 1;

### Task
        Generate a SQL query to answer the following question:
        What is the highest overtime pay recorded?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `What is the highest overtime pay recorded? `:
        ```sql SELECT MAX(OvertimePay) FROM Salaries;

### Task
        Generate a SQL query to answer the following question:
        How many employees are there in total?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `How many employees are there in total? `:
        ```sql SELECT COUNT(*) FROM Salaries;

### Task
        Generate a SQL query to answer the following question:
        What is the total number of unique job titles?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `What is the total number of unique job titles? `:
        ```sql SELECT COUNT(DISTINCT JobTitle) FROM Salaries;

### Task
        Generate a SQL query to answer the following question:
        Who has the lowest base pay in 2018?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `Who has the lowest base pay in 2018? `:
        ```sql SELECT EmployeeName FROM Salaries WHERE Year = 2018 ORDER BY BasePay ASC LIMIT 1;

### Task
        Generate a SQL query to answer the following question:
        What was the highest total pay in 2017?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `What was the highest total pay in 2017? `:
        ```sql SELECT MAX(TotalPay) FROM Salaries WHERE Year = 2017;

### Task
        Generate a SQL query to answer the following question:
        What is the average total pay for all years?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `What is the average total pay for all years? `:
        ```sql SELECT AVG(TotalPay) FROM Salaries;

### Task
        Generate a SQL query to answer the following question:
        List the job titles of employees who did not receive overtime pay.
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `List the job titles of employees who did not receive overtime pay. `:
        ```sql SELECT DISTINCT JobTitle FROM Salaries WHERE OvertimePay = 0;

### Task
        Generate a SQL query to answer the following question:
        What are the names of employees who earned more than $200.000 in 2020?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `What are the names of employees who earned more than $200.000 in 2020? `:
        ```sql SELECT EmployeeName FROM Salaries WHERE Year = 2020 AND TotalPayBenefits > 200000;

### Task
        Generate a SQL query to answer the following question:
        What is the average benefits received by employees in 2018?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `What is the average benefits received by employees in 2018? `:
        ```sql SELECT AVG(Benefits) FROM Salaries WHERE Year = 2018;

### Task
        Generate a SQL query to answer the following question:
        List the top 5 job titles with the lowest average base pay.
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `List the top 5 job titles with the lowest average base pay. `:
        ```sql SELECT JobTitle, AVG(BasePay) as AverageBasePay FROM Salaries GROUP BY JobTitle ORDER BY AverageBasePay ASC LIMIT 5;

### Task
        Generate a SQL query to answer the following question:
        Who are the employees who received no benefits?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `Who are the employees who received no benefits? `:
        ```sql SELECT EmployeeName FROM Salaries WHERE Benefits = 0;

### Task
        Generate a SQL query to answer the following question:
        How many employees earned total pay benefits above $300.000 in 2019?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `How many employees earned total pay benefits above $300.000 in 2019? `:
        ```sql SELECT COUNT(*) FROM Salaries WHERE Year = 2019 AND TotalPayBenefits > 300000;

### Task
        Generate a SQL query to answer the following question:
        What is the total overtime pay given in 2020?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `What is the total overtime pay given in 2020? `:
        ```sql SELECT SUM(OvertimePay) FROM Salaries WHERE Year = 2020;

### Task
        Generate a SQL query to answer the following question:
        List the names of employees who have 'Manager' in their job title and earned more than $150.000 in total pay.
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `List the names of employees who have 'Manager' in their job title and earned more than $150.000 in total pay. `:
        ```sql SELECT EmployeeName FROM Salaries WHERE JobTitle LIKE '%Manager%' AND TotalPay > 150000;

### Task
        Generate a SQL query to answer the following question:
        What are the average total pay benefits by year?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee
  OtherPay NUMERIC, -- Other pays of employee
  Benefits NUMERIC, -- Benefits of employee
  TotalPay NUMERIC, -- Total pay of employee
  TotalPayBenefits NUMERIC, -- Sum of pay benefits of employee
  Year INTEGER, -- Year data from row reffers to

### SQL
        Given the database schema, here is the SQL query that answers `What are the average total pay benefits by year? `:
        ```sql SELECT Year, AVG(TotalPayBenefits) FROM Salaries GROUP BY Year;

### Task
        Generate a SQL query to answer the following question:
        What is the median base pay across all employees?
### Database Schema
        This query will run on a database whose schema is represented in this string:

CREATE TABLE Salaries
  Id INTEGER PRIMARY KEY, -- Unique ID for each employee
  EmployeeName VARCHAR, -- Name of the employee
  JobTitle VARCHAR, -- Name of employees proffesion
  BasePay NUMERIC, -- Base pay of employee
  OvertimePay NUMERIC, -- Overtime pay of employee

In [8]:
import re

def rewrite_DDL(DDL):
    lines = DDL.split('\n')
    modified_text = "DDL: "
    for line in lines:
        if len(line) < 2:
            pass
        elif '/*' in line:
            pass
        elif 'DROP TABLE' in line:
            pass

        else:
            line = re.sub(r'(?<!NOT )\bNULL\b', '', line)
            modified_text += f'{line}\n'
            
    return modified_text

dfs = []

for csv_file, ddl_file in zip(csv_names, ddl_names):
    csv_path = os.path.join(csv_dir, csv_file)
    ddl_path = os.path.join(ddl_dir, ddl_file)

    df = pd.read_csv(csv_path)
    with open(ddl_path) as file:
        ddl = file.read()
    ddl = rewrite_DDL(ddl)
    df = df.T.reset_index().T
    new_columns = ['instruction', 'output']
    df.columns = new_columns
    df.index = range(0, len(df))
    df['input'] = ddl
    dfs.append(df)

In [36]:
df = pd.concat(dfs, ignore_index=True)

In [10]:
text_col = []

for _, row in df.iterrows():
    prompt = 'Make SQLite query based on DDL and instruction.'
    instruction = row['instruction']
    input_query = row['input']
    response = row['output']

    text = (
        prompt
        + '### Instruction:\n'
        + instruction
        + '### Input:\n'
        + input_query
        + '### Response:\n'
        + response
    )

    text_col.append(text)

df['text'] = text_col

In [9]:
df = pd.read_csv('/home/ksaff/Desktop/ttyd/fine_tuning/dataset/train.csv')
df

,instruction,output,input,text
0,find the first name and last name of entities ...,"SELECT FIRST_NAME, LAST_NAME FROM JPK_ENTITY W...",DDL: CREATE TABLE 'JPK_HEADER'\n 'HEADER_ID...,Make SQLite query based on DDL and instruction...
1,show all headers sent after 1st January 2023,SELECT * FROM JPK_HEADER WHERE SEND_TIME > '20...,DDL: CREATE TABLE 'JPK_HEADER'\n 'HEADER_ID...,Make SQLite query based on DDL and instruction...
2,get all supplier numbers who have a purchase d...,SELECT SUPPLIER_NUMBER FROM VAT_PURCHASE WHERE...,DDL: CREATE TABLE 'JPK_HEADER'\n 'HEADER_ID...,Make SQLite query based on DDL and instruction...
3,fetch all purchases from supplier number 12345,SELECT * FROM VAT_PURCHASE WHERE SUPPLIER_NUMB...,DDL: CREATE TABLE 'JPK_HEADER'\n 'HEADER_ID...,Make SQLite query based on DDL and instruction...
4,list sales between April and July 2023,SELECT * FROM VAT_SALE WHERE ISSUE_DATE BETWEE...,DDL: CREATE TABLE 'JPK_HEADER'\n 'HEADER_ID...,Make SQLite query based on DDL and instruction...
...,...,...,...,...
1504,Retrieve the number of vehicles rented by cust...,SELECT COUNT(DISTINCT RR.VEHICLE_ID) FROM RENT...,DDL: CREATE TABLE 'VEHICLES' (\n 'VEHICLE_I...,Make SQLite query based on DDL and instruction...
1505,Find the average daily rental rate of all vehi...,SELECT AVG(RENTAL_RATE) FROM VEHICLES;,DDL: CREATE TABLE 'VEHICLES' (\n 'VEHICLE_I...,Make SQLite query based on DDL and instruction...
1506,Get the most recent rental record for a given ...,SELECT * FROM RENTAL_RECORDS WHERE VEHICLE_ID ...,DDL: CREATE TABLE 'VEHICLES' (\n 'VEHICLE_I...,Make SQLite query based on DDL and instruction...
1507,List the vehicles that have been rented for mo...,"SELECT V.VEHICLE_ID, SUM(RR.RETURN_DATE - RR.R...",DDL: CREATE TABLE 'VEHICLES' (\n 'VEHICLE_I...,Make SQLite query based on DDL and instruction...
1508,Retrieve the number of vehicles available for ...,"SELECT MAKE, COUNT(*) FROM VEHICLES GROUP BY M...",DDL: CREATE TABLE 'VEHICLES' (\n 'VEHICLE_I...,Make SQLite query based on DDL and instruction...

In [40]:
text_col = []

for _, row in df.iterrows():
    prompt = 'Make SQLite query based on DDL and instruction.'
    instruction = row['instruction']
    input_query = row['input']
    response = row['output']

    text = (
        prompt
        + '### Instruction:\n'
        + instruction
        + '### Input:\n'
        + input_query
        + '### Response:\n'
        + response
    )

    text_col.append(text)

df['text'] = text_col

In [12]:
df.to_csv('train.csv', index=False)
# df[20:].to_csv('train.csv', index=False)
# df[:20].to_csv('test.csv', index=False)